<div class="container">
  <h1>Contactez nous</h1>
  <p>
    <b>Email:</b>
    <%= @list_person_in_team[0].email %> ou
      <%= @list_person_in_team[1].email %>
        <br>
        <b>Telephone:</b>
        <%= @list_person_in_team[0].phone_number %> ou
          <%= @list_person_in_team[1].phone_number %>
  </p>
</div>