<div class="container">
  <h1>Details du User:
    <%= @user.first_name%>
  </h1>
  <ul>
    <li><b>last_name: </b>
      <%= @user.first_name%>
    </li>
    <li><b>email: </b>
      <%= @user.email%>
    </li>
    <li><b>ville: </b>
      <%= @user.city.name%>
    </li>
  </ul>
</div>